[submodule "starter"]
    path = starter
    url = https://github.com/Some1Uknow/solana-starter.git
[submodule "anchor-vault"]
	path = anchor-vault
	url = https://github.com/Some1Uknow/anchor-vault.git
